<div id="secao-01" class="wrap secao">
  <div style="padding-bottom: 0;" class="jumbotron text-center">
    <h1>THE BOOK LIBRARY</h1>
    <p>Find here the best books of international literature!</p>
  </div>

  <div class="container">
    <div class="row">
      <div id="formulario" class="col-md-10 div-center">
        <div class="form-group">
          <label for="title">Title:</label>
          <input type="text" class="form-control" id="title">
        </div>
        <div class="form-group">
          <label for="author">Author:</label>
          <input type="text" class="form-control" id="author">
        </div>
        <div class="form-group">
          <label for="pages">Pages:</label>
          <input type="text" class="form-control" id="pages">
        </div>
        <div class="form-group">
          <label for="sel1">Status:</label>
          <select id="status" class="form-control" id="sel1">
            <option value="Read">Read</option>
            <option value="Not Read">Not Read</option>
          </select>
        </div>
        <button style="margin-bottom: 0;" id="submit" class="btn btn-primary col-md-12" data-toggle="modal"
          data-target="#myModal">SUBMIT</button>
      </div>
    </div>
  </div>
  <!-- <div class="col-md-12">
                      <button class="col-md-12 btn-primary" ><i class="fa fa-chevron-down"></i></button>
                  </div> -->
  <span class="icone-scroll">
    <span class="scroll-next scroll"></span>
  </span>
</div>