<div id="secao-02" class="wrap secao">

  <div style="padding-bottom: 0;" class="jumbotron text-center">
    <h1>Book List</h1>
    <p>View your list of books and their status</p>
  </div>

  <div class="container" style="height: 65%; overflow: auto;">
    <input class="form-control col-md-2" id="inputFilter" type="text" placeholder="Search..">
    <table class="table" style="background-color: #fff; border-radius: 5px;">
      <thead class="thead-dark">
        <tr>
          <th class="text-center" scope="col">#</th>
          <th class="text-center" scope="col">Title</th>
          <th class="text-center" scope="col">Author</th>
          <th class="text-center" scope="col">Pages</th>
          <th class="text-center" scope="col">Status</th>
          <th class="text-center" scope="col"></th>
        </tr>
      </thead>
      <tbody id="livros">

      </tbody>
    </table>
  </div>

  <span class="icone-scroll">
    <span class="scroll-top scroll"></span>
    <span class="scroll-top scroll"></span>
  </span>
</div>